// barra de generos

.icons {
  text-align: center;
  margin: 10px auto;
  padding: 5px 0;
  height: 50px;
  display: inline;
}

li > a{
  text-decoration: none;
  color: black;
}


.categories {
  text-align: center;
}

.categories_genreres{
  display: inline;
}

.list-inline > li {
  display: inline-block;
  padding: 0 30px;
  list-style: none;
  font-size: 30px;
}

.itens-bar {
  margin-top: 30px;
  display: flex;
  margin-top: 100px;
  justify-content:space-around;
  align-items:stretch;
  padding: 20px;
}

.book_category{
  width: 150px;
  object-fit: cover;
}

#categories{
  text-align: center;
  margin-top: 30px;

}

.categories_genres{
  margin-top: 100px;
}

.romance_categorie_card{
  display: flex;
  margin-bottom: 200px;
  justify-content: space-around;
}

.card-img-top {
  height: 270px;

}

#categories_text{
  text-align: center;
}

.book_category{
  margin:50px;

}
.container_categories{
  text-align: center;
  margin-top: 50px;

}

.search-bar{
  margin-top: 30px;
  padding: 50px;
  background-image: url(https://media.istockphoto.com/vectors/books-seamless-pattern-vector-id470721440?k=20&m=470721440&s=612x612&w=0&h=o3yXdl1xi_kbMdyP6NRirKX4Y0m8WjVgul9zl4i5LtU=) {opacity: 0.05};
  box-shadow: 2px 2px 3px rgba(136, 136, 136,0.3);

}

.search-category-button{
  border: black ;

}
