// barra de generos

.icons {
  text-align: center;
  margin: 10px auto;
  padding: 5px 0;
  height: 50px;
  display: inline;
}

li > a{
  text-decoration: none;
  color: black;
}


.categories {
  text-align: center;
}

.categories_genreres{
  display: inline;



}

.list-inline > li {
  display: inline-block;
  padding: 0 30px;
  list-style: none;
  font-size: 30px;
}

.itens-bar {
  margin-top: 30px;
  display: flex;
  margin-top: 100px;
  justify-content:space-around;
  align-items:stretch;
  padding: 20px;
}

.book_category{
  width: 150px;
  object-fit: cover;
}

#categories{
  text-align: center;
  margin-top: 30px;

}

.categories_genres{
  margin-top: 100px;
}

.romance_categorie_card{
  display: flex;
  margin-bottom: 200px;
  justify-content: space-around;
}

.card-img-top {
  height: 270px;

}

