.icons {
  text-align: center;
  margin: 10px auto;
  padding: 5px 0;
}

.categories {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0 100px;
  list-style: none;
  font-size: 30px;
}

.itens-bar {
  margin-top: 30px;
  display: flex;
  margin-top: 100px;
  justify-content:space-around;
  align-items:stretch;
  padding: 20px;
}

.book_category{
  width: 150px;
  object-fit: cover;
}

#categories{
  text-align: center;
  margin-top: 30px;

}
