.new-book-img {
  background: url("https://res.cloudinary.com/ddz4cg7lj/image/upload/v1654051788/alfons-morales-YLSwjSy7stw-unsplash_uk7iji.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: visible;
}
