<div class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h2 class="display-4 font-weight-bold">E-books</h2>
        <h5 class="font-italic mb-0">Using simple jumbotron-style component, create a nice Bootstrap 4 header with a background image.</h5>
    </div>
</div>
