<%= render "shared/banner" %>

<div class="categories container py-5">
  <h2 class="h3 font-weight-bold">Book Genres</h2>
  <div class="row">
        <div class="icons col-lg-10 mb-4">
          <ul class="list-inline">
            <li>
              <a href="#" target="_blank">
                <i class="fa-solid fa-heart"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fa-solid fa-hat-wizard"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fa-solid fa-hands-praying"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fa-solid fa-graduation-cap"></i>
              </a>
            </li>
          </ul>
        </div>
  </div>
</div>

<h2 id="categories">Categorias</h2>

<div class="itens-bar">

    <div>
        <img class= "book_category" src="https://images-na.ssl-images-amazon.com/images/I/51p69uLWp6L._SY344_BO1,204,203,200_QL70_ML2_.jpg" alt="">
          <h3>Romance</h3>
    </div>

    <div>
      <img class= "book_category" src="https://images-na.ssl-images-amazon.com/images/I/51fLtg6MDIL._SY344_BO1,204,203,200_QL70_ML2_.jpg" alt="">
      <h3>Suspense</h3>
    </div>

    <div>
      <img class= "book_category" src="https://m.media-amazon.com/images/I/51FGgTU-RdL._SY346_.jpg" alt="">
      <h3>Best Seller</h3>
    </div>

    <div>
      <img class= "book_category" src="https://images-na.ssl-images-amazon.com/images/I/41897yAI4LL._SX346_BO1,204,203,200_.jpg" alt="">
    <h3>Ficção </h3>
  </div>


</div>




<div class="justify-content-center">

  <h1 class="text-center mb-4"> Ler como hábito de uma vida melhor</h1>

</div>


  <div class= "d-flex">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/51ImEAcE59L._SY346_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">O Devasso e a Viúva Virgem: Novela Spin-off da Série Alma de Cowboy </h5>
        <p class="card-text">O milionário Wyatt Gray, assim como seus primos texanos, é um homem do campo.
          Membro da tradicional família de cowboys, mas da parte do Wyoming, passou anos correndo o mundo para escapar da convivência com o pai, a quem odeia.
          Cansado de viajar sem criar raízes, ele decide se estabelecer em Grayland, a pedido de sua tia-avó, Mary Grace.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/516lFndZ+cL._SY346_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Orgulho e Preconceito</h5>
        <p class="card-text"> romance retrata a relação entre Elizabeth Bennet (Lizzy) e Fitzwilliam Darcy na Inglaterra rural do século XVIII. Lizzy possui outras quatro irmãs, nenhuma delas casadas, o que Sra. Bennet, mãe de Lizzy, considera um absurdo. Quando Sr. Bingley, jovem bem sucedido, aluga uma mansão próxima da casa dos Bennet, Sra. Bennet vê nele um possível marido para uma de suas filhas. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/51PjgRe58sL._SY346_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dom Casmurro</h5>
        <p class="card-text">Prometido para o seminário desde o nascimento, o jovem carioca Bentinho precisa encontrar um jeito de fugir da vida na Igreja e realizar seu verdadeiro sonho: casar-se com a vizinha Capitu. Uma história de paixão, obsessão e ciúme se desenrola, em uma narrativa cheia de reviravoltas, que aos poucos constrói um retrato da sociedade brasileira.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51LfawapFKL._SX344_BO1,204,203,200_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cem anos de solidão</h5>
        <p class="card-text">Edição comemorativa em capa dura dos 50 anos de publicação da obra-prima de Gabriel García Márquez.Em Cem anos de solidão, um dos maiores clássicos da literatura, o prestigiado autor narra a incrível e triste história dos Buendía - a estirpe de solitários para a qual não será dada “uma segunda oportunidade sobre a terra” e apresenta o maravilhoso universo da fictícia Macondo, onde se passa o romance. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
