<div class="jumbotron bg-cover text-white">
    <div class="container py-5">
        <h2 class="display-4 font-weight-bold mt-5 mb-3">Book Spot</h2>
        <h5 class="font-italic mb-4 mt-3">The best option for online reading.</h5>
        <%= link_to "Discover the books!", books_path, class: "btn-home mt-5 btn-lg rounded-pill" %>
    </div>
</div>

<div class="container p-4 mt-5">
  <div class="row">
    <ul class="icons list-inline">
      <li>
        <a href="/books/?query=romance&button=">
          <i class="icon fa-solid fa-heart"></i>
          <p>Romance</p>
        </a>
      </li>
      <li>
        <a href="/books/?query=fiction&button=">
          <i class="icon fa-solid fa-hat-wizard"></i>
          <p>Fiction</p>
        </a>
      </li>
      <li>
        <a href="/books/?query=thriller&button=">
          <i class="icon fas fa-skull-crossbones"></i>
          <p>Thriller</p>
        </a>
      </li>
      <li>
        <a href="/books/?query=religion&button=">
          <i class="icon fas fa-praying-hands"></i>
          <p>Religion</p>
        </a>
      </li>
      <li>
        <a href="/books/?query=self-help&button=">
          <i class="icon fas fa-hands-helping"></i>
          <p>Self-help</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<br>
<br>
<br>

<div class="container-box mt-5 p-5">
  <div class="card-home">
    <div class="Box">
      <img src="https://res.cloudinary.com/ddz4cg7lj/image/upload/v1654280273/Books/horizon_oelzjo.jpg">
    </div>
    <div class="details">
      <h2>Horizon</h2>
      <h3>Barry Lopez</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique modi, exercitationem odit, aut aliquid nam impedit iste magni dignissimos obcaecati dolores mollitia earum asperiores unde velit, officia excepturi perspiciatis? Libero!</p>
      </p>
    </div>
  </div>

  <div class="card-home mx-5">
    <div class="Box">
      <img src="https://res.cloudinary.com/ddz4cg7lj/image/upload/v1654280273/Books/gueixa_gieeki.jpg">
    </div>
    <div class="details">
      <h2>Pachinko</h2>
      <h3>Min Jin Lee</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem delectus ipsum, possimus obcaecati consequatur quibusdam ratione, sint debitis molestiae hic neque non eum? Amet, ex.</p>
    </div>
  </div>

  <div class="card-home">
    <div class="Box">
      <img src="https://res.cloudinary.com/ddz4cg7lj/image/upload/v1654280275/Books/Screenshot_2022-06-03_at_15-12-59_1387901425000-XXX-GATSBY-FITZGERALD-BOOKS-2465.jpg_WEBP_Image_300_400_pixels_bw3hkd.png">
    </div>
    <div class="details">
      <h2>The Great Gatsby</h2>
      <h3>F. Scott Fitzgerald</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugit consequuntur repellendus ipsa ratione culpa fugiat enim itaque! In, incidunt.</p>
    </div>
  </div>
</div>
