<div class="jumbotron bg-cover text-white">
    <div class="container py-5">
        <h2 class="display-4 font-weight-bold mt-5 mb-3">E-books</h2>
        <h5 class="font-italic mb-4 mt-3">The best option for online reading.</h5>
        <%= link_to "Discover the books!", books_path, class: "btn-home mt-5 btn-lg" %>

    </div>
</div>


<div class="categories container p-4 mt-5">
  <h2 class="h3 font-weight-bold">Book Genres</h2>
  <br><br>
  <div class="row">
    <ul class="list-inline">
      <li>
        <a href="#" target="_blank">
          <i class="fa-solid fa-heart"></i>
          <br>
          <p>Romance</p>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa-solid fa-hat-wizard"></i>
          <br>
          <p>Fiction</p>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa-solid fa-bookmark"></i>
          <br>
          <p>Thriller</p>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa-solid fa-feather-pointed"></i>
          <br>
          <p>Horror</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container_romance">
  <h2 >Romance</h2>







</div>
