

<div class="col mb-2">
    <div class="card mt-2">
      <img src="https://i.ibb.co/gTvbqnQ/harry-potter.jpg" class="card-img-top" alt="...">
      <div class="card-body flex-column justify-content-around">
        <h5 class="card-title "><%= book.title %></h5>
        <p class="card-author"><%= book.author %></p>
        <h3 class="card-price">$ <%= book.price %></h3>
        <%= link_to "Ver detalhes", book_path(book), class: 'btn btn-primary btn-compra' %>
      </div>
    </div>
</div>
