<div class="about">
<div class="about-body">
  <div class="book">
    <div class="back"></div>
    <div class="page6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus tenetur accusantium facere quasi sapiente. Odit, laudantium libero assumenda consequatur minus exercitationem id autem dolores impedit officiis sequi quia, voluptates deserunt!
    </div>
    <div class="page5 wagon-img"></div>
    <div class="page4"></div>
    <div class="page3"></div>
    <div class="page2"></div>
    <div class="page1"></div>
    <div class="front"></div>
  </div>
</div>

<section class="stage train-body">
  <div class="sky">
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>
  <div class="train">
    <div class="wagon"></div>
    <div class="wagon"></div>
    <div class="wagon"></div>
    <div class="locomotive">
      <div class="cabin"></div>
      <div class="motor"></div>
      <div class="chimney">
        <div class="smoke"></div>
      </div>
      <div class="light"></div>
    </div>
  </div>
</section>

</div>
