<div class="about">

<div class="heading d-flex flex-column text-center mt-5">
<h3>Our team</h3>
  <div class="squad d-flex justify-content-around px-4 mt-3 monospace">
    <h5>Yasmin Crisostomo</h5>
    <h5>Pedro Costa</h5>
    <h5>Gabriel Alvino</h5>
    <h5>Isabelly Florence</h5>
  </div>
</div>

<div class="about-body">
  <div class="book-animation">
    <div class="back"></div>
    <div class="page6 d-flex flex-column justify-content-center text-center">
      <h4>
      Built at <br><br> LeWagon <br><br> Batch <br><br> 898
      </h4>
    </div>
    <div class="page5 wagon-img"></div>
    <div class="page4"></div>
    <div class="page3"></div>
    <div class="page2"></div>
    <div class="page1"></div>
    <div class="front"></div>
  </div>
</div>


<section class="stage train-body">
  <div class="train">
    <div class="wagon"></div>
    <div class="wagon"></div>
    <div class="wagon"></div>
    <div class="locomotive">
      <div class="cabin"></div>
      <div class="motor"></div>
      <div class="chimney">
        <div class="smoke"></div>
      </div>
      <div class="light"></div>
    </div>
  </div>
</section>

</div>
