<div class="index-container">
  <div class="index-banner">
    <h2><strong>BOOKSTORE</strong></h2>
  </div>

<% if @books.empty? %>
  <div class="no-books">
    <p>No books in the marketplace yet.</p>
  </div>
<% end %>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 m-2 p-5">

      <% @books.each do |book| %>
        <%= render "book-card", book: book %>
      <% end %>

  </div>
</div>
