<div class="index-container">
  <div class="index-banner">
    <h2><strong>BOOKSTORE</strong></h2>
  </div>

<div class="card-search-bar row">
  <div class="search-bar col-6 mx-auto">
      <h2 class="text-center">Search</h2>
    <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a category"
      %>
      <%= submit_tag "Search", class: "search-category-button btn btn-primary" %>
    <% end %>
  </div>

</div>


<% if @books.empty? %>
  <div class="no-books">
    <p>No books in the marketplace yet.</p>
  </div>
<% end %>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 m-2 p-5">

      <% @books.each do |book| %>
        <%= render "book-card", book: book %>
      <% end %>

  </div>
</div>
