.bg-cover {
  display: flex;
  align-items: center;
  // justify-content: start;
  height: 70vh;
  border-radius: 4px;
  line-height: 60px;
  background: rgb(26,55,77);
  background: linear-gradient(90deg, rgba(26,55,77,1) 0%, rgba(64,104,130,1) 39%, rgba(177,208,224,1) 100%);
  // background-image: linear-gradient(134deg, rgba(28, 134, 155, 0.8) 0%,
  // rgba(55, 78, 142, 0.365) 50% ), url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1968&q=80');
}

body {
  min-height: 100vh;
}

.btn-home {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  background-color: #B1D0E0;
  padding: 8px;
  border-radius: 5px;
  color: #1A374D;
}

.btn-home:hover {
  background-color: #1A374D;
  color: #B1D0E0;
}
