.img{
  margin: 10 5 10 5;
}

.card-body > * {
  text-align: center;
  margin: 0;
}

.btn-compra{
  margin-top: 3*0.1vw;
  border-radius: 15*0.1vw;
  background-color: rgb(11, 56, 116);
  border: none;
  padding: 5*0.1vw 25*0.1vw;
}

.single-liner{
  overflow: hidden;
  white-space: nowrap;
}

.card{
  padding: 14px 16px 4px 16px;
  border-radius: 8px;
}
